<mjml>
    <%- include('./common/head.ejs'); %>

    <mj-body background-color="#f9fafc">
        <%- include('./common/header.ejs'); %>
        <mj-wrapper padding="10px 20px">
            <mj-section background-color="#ffffff" padding-top="0">
                <mj-column>

                    <mj-text>
                        Bonjour,
                    </mj-text>
                    <mj-text>
                        Vous êtes identifié comme CSAIO de la base de transfert des voeux Affelnet pour la campagne en
                        cours.

                        L'activation de votre compte vous permettra de télécharger les fichiers de voeux.
                    </mj-text>

                    <mj-text>
                        En cas de difficultés, n'hésitez pas à contacter notre équipe support à l'adresse suivante :
                        <a href="mailto:voeux-affelnet@apprentissage.beta.gouv.fr">voeux-affelnet@apprentissage.beta.gouv.fr</a>
                    </mj-text>

                    <mj-button
                            href="<%= utils.getPublicUrl(`/activation?actionToken=${data.actionToken}`) %>"
                            background-color="#0e4194"
                            color="white"
                    >
                        J'active mon compte
                    </mj-button>

                    <%- include('./common/signature.ejs'); %>
                </mj-column>
            </mj-section>
        </mj-wrapper>
        <%- include('./common/footer.ejs'); %>
    </mj-body>
</mjml>
