<mjml>
  <%- include('./common/head.ejs'); %>

  <mj-body background-color="#f9fafc">
    <%- include('./common/header.ejs'); %>
    <mj-wrapper padding="10px 20px">
      <mj-section background-color="#ffffff" padding-top="0">
        <mj-column>
          <mj-text> Madame, Monsieur, </mj-text>
          <mj-text>
            Nous avons enregistré cette adresse email comme adresse de contact pour votre organisme de formation en
            apprentissage.
          </mj-text>

          <%- include('./common/arrete.ejs'); %>

          <mj-text>
            Les vœux exprimés via le service en ligne Affelnet pour des formations en apprentissage dans votre
            établissement (Siret : <%= data.gestionnaire.siret %>) et/ou pour les établissements dont vous êtes
            responsable seront communiqués à partir de la semaine du 6 juin.
          </mj-text>
          <mj-text>
            <ul>
              <li>
                Étape 1 : <strong>dès réception de ce courriel</strong>, renseignez ou confirmez l’email du directeur
                (obligatoire pour la suite des étapes), en cliquant sur le bouton ci-dessous.
              </li>
              <li>
                Étape 2 : à partir de la semaine du 6 juin 2022, lorsque des vœux sont exprimés pour votre établissement
                et/ou pour les établissements dont vous êtes responsable, un courriel vous notifiera de la mise à
                disposition de la ou des liste(s) de vœux disponible(s) pour téléchargement.
                <i>Voir ci-dessous le planning de diffusion.</i>
              </li>
            </ul>
          </mj-text>

          <mj-button
            href="<%= utils.getPublicUrl(`/confirmation?actionToken=${data.actionToken}`) %>"
            background-color="#0e4194"
            color="white"
          >
            Confirmer ou modifier votre adresse courriel
          </mj-button>

          <%- include('./common/procedure_gestionnaire.ejs'); %> <%- include('./common/signature.ejs'); %>
        </mj-column>
      </mj-section>
    </mj-wrapper>
    <%- include('./common/footer.ejs'); %>
  </mj-body>
</mjml>
