<mjml>
    <%- include('./common/head.ejs'); %>

    <mj-body background-color="#f9fafc">
        <%- include('./common/header.ejs'); %>
        <mj-wrapper padding="10px 20px">
            <mj-section background-color="#ffffff" padding-top="0">
                <mj-column>
                    <mj-text>
                        Madame, Monsieur,
                    </mj-text>
                    <mj-text>
                        Nous avons enregistré cette adresse email comme adresse de contact pour votre organisme de
                        formation
                        en apprentissage dont l'UAI est le <%= data.cfa.uai %>.
                    </mj-text>
                    <mj-text>
                        Votre organisme pourra prochainement télécharger les vœux exprimés via la procédure AFFELNET par
                        des jeunes intéressés à poursuivre leur formation en tant qu’apprentis au sein de votre
                        établissement. Ceci permettra d’établir plus rapidement avec eux un premier contact et
                        favorisera l’efficacité de l’accompagnement vers l’emploi que vous leur proposerez.
                    </mj-text>
                    <mj-text>
                        <a href="https://www.legifrance.gouv.fr/loda/id/JORFTEXT000035274717/">L’arrêté du 17 juillet
                            2017</a>, à l’article 4 au 7ème alinéa précise que seuls <strong>les directeurs des
                            centres de formation d'apprentis sont habilités à recevoir les données transmises</strong>
                        mentionnées à
                        l’article 3 de ce même arrêté.
                    </mj-text>

                    <mj-text>
                        Ainsi, pouvez-vous, <strong>d’ici au 3 juin</strong>, nous transmettre l’adresse mail qui
                        correspond à la
                        direction de votre établissement à laquelle les vœux formulés pourront être transmis ?
                    </mj-text>

                    <mj-button
                            href="<%= utils.getPublicUrl(`/confirmation?actionToken=${data.actionToken}`) %>"
                            background-color="#0e4194" color="white">
                        Confirmer l'adresse email
                    </mj-button>

                    <mj-text>
                        Notre prochain courriel adressé à l’adresse renseignée par retour, vous apportera au cours de la
                        semaine du 07 juin les informations de nom d’utilisateur et de mot de passe relatives à votre
                        établissement. La transmission des vœux se fera par transmission de fichiers. Jusqu’à trois
                        fichiers comportant des données incrémentales seront transmis : le premier en semaine 23, puis
                        le second en semaine 25 et enfin le dernier en semaine 27. Le mode opératoire détaillé pour la
                        connexion et la mise à disposition des vœux vous sera alors présenté.
                    </mj-text>
                    <mj-text>
                        Ce nouveau service qui permet d’accélérer spectaculairement la transmission des informations est
                        développé par notre mission, dans le cadre du mandat qui lui a été confié par les quatre
                        ministres chargés de l’éducation nationale, de l’enseignement supérieur, du travail et de la
                        transformation publique.
                    </mj-text>

                    <%- include('./common/signature.ejs'); %>
                </mj-column>
            </mj-section>

        </mj-wrapper>
        <%- include('./common/footer.ejs'); %>
    </mj-body>

</mjml>
